.App {
  text-align: center;
}

.container {
  border: 1px solid #000;
  margin: 8px;
}

.dark, .light {
  border: 1px solid #000;
  margin: 8px;
  min-width: 31%;
}

.dark {
  background-color: #000;
  color: white;
}

.light {
  background-color: white;
  color: #000;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: block;
}

.oddeven {
  font-weight: bold;
}

button {
  margin: 4px;
  padding: 8px;
}